.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game {
  border: 1px solid black;
  width: 75%;
  height: auto;
}

.gameBox {
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  /* display: inline-block; */
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-items: space-around;
}

.preset {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.presetDescription {
  border: 1px solid black;
  width: 50px;
  height: auto;
  display: inline-block;
}

.presets {
  border: 1px solid black;
  display: flex;
  margin: 0 auto auto 0;
  vertical-align: top;
}

.gameButton {
  font-weight: bold;
  margin: 1px;
}

.cells {
  width: 20px;
  height: 20px;
  border: 1px solid #242423;
  background-color: #cfdbd5;
}
